@charset "utf-8";
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none; 
    color: inherit;
}

img {
    vertical-align: top; 
    max-width: 100%;
}

button {
    cursor: pointer; 
    border: 0;
}

html, body {
  height: auto;
  margin: 0;
  min-height: 100svh  
}

body {
  display: flex;
  place-items: center;
  background: #ffffff;
  font-family: "Pretendard", sans-serif;
  overflow-y: auto;
}

.login-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(1rem, 3vw, 2rem); 
}

.login-container {
  width: 100%;
  max-width: 40rem;           
  max-height: calc(100svh - 64px);                 
  background-color: #fff;
}

.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  margin-bottom: 2.5rem;
  height: auto;
  padding: 13px 0 15px 0;
}

.login-logo_img {
  display: block;
  width: 104px;
  height: 104px;
}

.login-logo_title {
  color: var(--brand-blue, #3692FF);
  font-family: "ROKAF Sans";
  font-size: 4.15rem;
  font-weight: 700;
  line-height: 1; 
}

.form-group {
  margin-bottom: 24px;
}

.form-label {
  display: inline-block; 
  margin-bottom: 16px; 
  color: var(--Secondary-800, #1F2937);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.input-wrap {
  position: relative;
  width: 100%;
}

.form-input {
  padding: 16px 24px;
  width: 100%;
  height: 56px;
  border: none;
  background: var(--Cool-Gray-100, #F3F4F6);
  border-radius: 12px;
}

.form-input:focus {
  outline: none;
  border: 1px solid #3692FF;
}

.password-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
}

.btn-login, .easy-login {
  width: 100%;
  max-width: 640px;
}

.btn-login {
  display: flex;
  height: 56px;
  padding: 16px clamp(24px, 8vw, 124px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: var(--Secondary-400, #9CA3AF);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: var(--Cool-Gray-100, #F3F4F6);
  text-align: center;
}

.easy-login {
  display: flex;
  flex-direction: row;
  height: 74px;
  padding: 16px 23px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-radius: 8px;
  background: #E6F2FF;
  margin: 24PX 0;
}

.easy-login_label {
  color: var(--Secondary-800, #1F2937);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;  
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-text {
  color: var(--Secondary-800, #1F2937);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.signup-link {
  color: var(--Primary-100, #3692FF);
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: underline;
}