@charset "utf-8";
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none; 
    color: inherit;
}

img {
    vertical-align: top; 
    max-width: 100%;
}

button {
    cursor: pointer; 
    border: 0;
}

body { 
    background: #ffffff; 
    color: #333333;
    font-family: "Pretendard", sans-serif;
    font-style: normal;
}

.banner, .features, footer, header {
    width: 100%;
    margin: 0 auto;
}

.header_inner, .banner_inner, .footer_inner {
    max-width: 1920px;
    margin: 0 auto;
    justify-content: space-between;
}

header {
    max-width: 1920px;
    height: 70px;
    padding: 9px 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #DFDFDF;
}

.header_inner {
    display: flex;
    align-self: stretch;
}

.header_login {
    display: flex;
    width: 128px;
    height: 48px;
    padding: 12px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--Primary-100, #3692FF);
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}

.banner {
    height: 540px;
    background: #CFE5FF; 
    padding: 200px 405px;
}

.banner_inner {
    display: flex;
    max-width: 1920px;
    align-items: center;
}

.banner_content {
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.banner_title {
    color: var(--Secondary-700, #374151);
    font-size: clamp(24px, 3vw, 40px);
    white-space: nowrap;
    font-weight: 700;
    line-height: 140%;  
}

.banner_image {
    flex-shrink: 0;
    width: clamp(360px, 40vw, 746px);
    height: auto; 
}


button {
    display: flex;
    height: 56px;
    justify-content: center;
    align-items: center;
    gap: 10px;  
    border-radius: 40px;
    background: var(--brand-blue, #3692FF);
    color: #ffffff;
    padding: clamp(12px, 2vw, 16px) clamp(40px, 6vw, 124px);
    font-size: clamp(14px, 1.8vw, 16px);
    white-space: nowrap;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 60px;
}

.features {
    display: flex;
    margin: 0 auto;
    padding: 138px 344px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

#features_second {
    padding: 138px 342px;
}

#features_third {
    padding: 138px 360px;
    margin-bottom: 138px;
}

.feature_inner {
    display: flex;
    gap: 64px;
    align-items: center;
}

.feature_card {
    width: clamp(300px, 30vw, 588px);
    height: auto;
}

.feature_tag {
    font-size: clamp(14px, 1.2vw, 18px);
    font-weight: 700;
    line-height: 26px;
    color: var(--Primary-100, #3692FF);
}

.feature_card-title {
    color: var(--Secondary-700, #374151);
    font-size: clamp(28px, 3vw, 40px);
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.8px;
    padding: 12px 0 24px;
}

.feature_card-text {
    font-size: clamp(16px, 2vw, 24px);
    font-weight: 500;
    line-height: 32px;
}

#feature_inner_second-text {
    text-align: right;
}

#promo {
    padding: 143px 405px;
}

footer {
    height: 160px;
    padding: 32px 200px;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    background: var(--Secondary-900, #111827);
}

.footer_inner {
    display: flex;
    align-items: center;
    align-self: stretch;
}

.footer_left {
    color: var(--Secondary-400, #9CA3AF);
}

.footer_center {
    display: flex;
    color: var(--Secondary-200, #E5E7EB);
    gap: 30px;
}

.footer_right {
    display: flex;
    width: 116px;
    align-items: center;
    gap: 12px;
}